@page "/series/{SeriesId}"
@inherits SeriesDetailLogic

@if (IsLoading)
{
    <Loader></Loader>
}

@if (SeriesDetails != null && !IsLoading)
{
    <div class="card">
        @if (!string.IsNullOrEmpty(SeriesDetails.Banner))
        {
            <img src="https://www.thetvdb.com/banners/@SeriesDetails.Banner" class="card-img-top" alt="...">
        }
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">@SeriesDetails.SeriesName</h4>
                <a href="/rename/@SeriesDetails.Id" class="btn btn-primary ml-auto">File rename</a>
            </div>
            <h5 class="card-subtitle mb-2 text-muted">@SeriesDetails.Status</h5>
            <p>@SeriesDetails.Overview</p>
            <div class="row">
                <div class="col-4">
                    <h6>Genre:&nbsp;</h6>
                    <p>@string.Join(", ", SeriesDetails.Genre)</p>
                </div>
                <div class="col-4">
                    <h6>Network:&nbsp;</h6>
                    <p>@SeriesDetails.Network</p>
                </div>
                <div class="col-4">
                    <h6>First Aired:&nbsp;</h6>
                    <p>@SeriesDetails.FirstAired</p>
                </div>
            </div>

            @if (AreEpisodesLoading)
            {
                <Loader></Loader>
            }

            @if (SeasonEpisodes != null && !AreEpisodesLoading)
            {
                <div class="row">
                    <h4>Seasons:</h4>
                    @for (int i = 0; i < SeasonEpisodes.Count; i++)
                    {
                        <div class="col-12">
                            <SeasonCard Episodes="@SeasonEpisodes[i]" SeasonIndex="@(i + 1)"></SeasonCard>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
}